---
// Global styles
import "../styles/global.css";

// Fonts
import "@fontsource/cormorant-garamond/300.css";
import "@fontsource/cormorant-garamond/300-italic.css";
import "@fontsource/cormorant-garamond/400.css";
import "@fontsource/cormorant-garamond/400-italic.css";
import "@fontsource/cormorant-garamond/500.css";
import "@fontsource/cormorant-garamond/500-italic.css";
import "@fontsource-variable/cascadia-code/wght.css";
import "@fontsource-variable/source-sans-3/wght-italic.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = "/og.png" } = Astro.props;
---

<link rel="sitemap" href="/sitemap-index.xml" />
<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />

<!-- Canonical URL & sitemap -->
<link rel="canonical" href={canonicalURL} />
<!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->

<!-- Primary Metadata -->
<title>{`${title} | Uriel Spiridione`}</title>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={`${title}`} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={`${title}`} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
